<% form_for @oligo do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :sequence %><br />
    <%= f.text_field :sequence %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :freezer %><br />
    <%= f.text_field :freezer %>
  </p>
  <p>
    <%= f.label :box %><br />
    <%= f.text_field :box %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
