<% title "Oligo Record: #{h(@oligo.name.capitalize)}" %>

<p>
  <strong>User:</strong>
  <%=h @oligo.user.login %>
</p>
<p>
  <strong>Oligo ID:</strong>
  <%= h @oligo.id %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @oligo.name %>
</p>
<p>
  <strong>Species:</strong>
  <%=h @oligo.species %>
</p>
<p>
  <strong>Sequence:</strong>
  <%=h @oligo.sequence %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @oligo.description %>
</p>
<p>
  <strong>Notes:</strong>
  <%=h @oligo.notes %>
</p>
<p>
  <strong>Length:</strong>
  <%=h @oligo.length %>
</p>
<p>
  <strong>GC %:</strong>
  <%=h @oligo.gcpercentage %>
</p>
<p>
  <strong>Tm:</strong>
  <%=h @oligo.tm %>&deg;C
</p>
<p>
  <strong>Freezer:</strong>
  <%=h @oligo.freezer %>
</p>
<p>
  <strong>Box:</strong>
  <%=h @oligo.box %>
</p>

<p>
	<% if logged_in? %>
  <%= link_to "Edit", edit_oligo_path(@oligo) %> |
  <%= link_to "Destroy", @oligo, :confirm => 'Are you sure?', :method => :delete %> |
	<% end %>
  <%= link_to "View All", oligos_path %>
</p>
